---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";


