---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

// --- Custom Styles Start Here ---

.page .page-heading {
    display: none !important;
}

.home .post-list-heading {
    display: none !important;
}

.post .post-title,
.post .post-header h1{
  display: block !important;
}

.site-header {
    background-color: #ffffff;
    border-top: none !important; 
    border-bottom: none !important;
}

.site-title, .site-title:visited, .page-link {
    color: #111111 !important;
}

.page-content {
  padding-top: 20px;
}

.profile-img {
    display: block;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px solid #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}